@import url(https://fonts.googleapis.com/css?family=Open+Sans);
     *{
        margin: 0;
        padding: 0;
     }
     nav{
        background: rgba(77, 172, 201, 0.479);
     }
     ul{
        list-style: none;
        text-align: center;
     }
     li{
        display: inline-block;
     }
     a{
        color: #2712a1;
         font-family: 'Open Sans', sans-serif;
         text-decoration: none;
         border-right: 1px solid #ffffff;
         padding: 15px 15px 15px 15px;
         display: block;
     }